* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    color: #333;
}

header p {
    font-size: 1.2rem;
    color: #666;
}

#catalogo {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: wrap;
}

.serie {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.serie h2 {
    font-size: 1.4rem;
    margin: 10px 0;
}

.serie p {
    font-size: 1rem;
    color: #555;
}

.cartaz {
    width: 10px;
    height: 15px;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
    color: #555;
}